
@{
    ViewBag.Title = "HakkimizdaIndex";
    Layout = "~/Views/Shared/AnaSayfaLayoutPage.cshtml";
}

<div class="about">
    <div class="container">
        <h2>Hakkımızda</h2>
        <div class="biography">
            <div class="biographys">
                <div class="col-md-4 biography-info">
                    <img src="~/Template/images/img11.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-8 biography-into">
                    <h4>Edie Campbell</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below ook It has survived not only five centuries, a galley of type and reproduced scrambled  survived not only five  it to make a type specimen book for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="details.html" class="link">Read More</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="biographys">
                <div class="col-md-8 biography-into">
                    <h4>Georgia May Jagger</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is for those interested reproduced below for those interested. Ipsum used since the 1500s is reproduced below for reproduced below for those interested those interested reproduced below  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="details.html" class="link">Read More</a>
                </div>
                <div class="col-md-4 biography-info">
                    <img src="~/Template/images/img9.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="biographys">
                <div class="col-md-4 biography-info">
                    <img src="~/Template/images/img10.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-8 biography-into">
                    <h4>Drake Burnette</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those of Lorem Ipsum used since the by Cicero are also reproduced below for interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced below for those of Lorem Ipsum used since the interested reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <a href="details.html" class="link">Read More</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
